---
props.types = {
    "first_name": str,
    "last_name": str,
    "age": Optional[str],
    "aliases": List[str],
}

props.defaults {
    "aliases": [f"{person.first_name} {person.last_name}"],
}

person = props['person']
props['aliases']

props['title'] = f"{person.title} {person.name}"
---
The context contains:

Required string: {{ required_string }}
Optional number: {{ optional_number }}
Default number: {{ default_number }}
New number: {{ new_number }}

{% including "heading.html" with title=title %}
